@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Stardos+Stencil&display=swap');
@font-face {
    font-family: 'WorkSans-Light';
    src: url('/Style/fonts/WorkSans-Light.ttf');
}
@font-face {
    font-family: 'WorkSans-Regular';
    src: url('/Style/fonts/WorkSans-Regular.ttf');
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}
@media (prefers-reduced-motion: no-preference) {
    .square {
      animation-name: wipe-enter;
      animation-duration: 0.5s;
    }
}
@keyframes b{
    100% {background-position: 50% 0, 60% 50%}
}
@keyframes slideinFromRight {
    from {
      margin-left: 30px;
      width: 100%;
    }   
  
    to {
      margin-left: 0px;
      width: 100%;
    }
}

@keyframes slideinFromRightTwo {
    from {
        margin-left: 100%;
        width: 100%;
      }
    
      to {
        margin-left: 0%;
        width: 10%;
      }
}
@keyframes slideinFromLeft {
    from {
      margin-left: -200%;
      width: 300%;
    }
  
    to {
      margin-right: 0%;
      width: 100%;
    }
}



html {
    scroll-behavior: smooth;
    background-color: #f2F2F2;
}
nav {
    font-family: 'Amatic SC', cursive;
    font-family: 'Stardos Stencil', cursive;
    color: black;
}

body {
    width: 85%;
    margin: auto;
    font-family: 'WorkSans-Light';
}

/* navbar.css */
div.navbar {
    width: 80%;
    height: 60px;
    
    color: blue;
    display: grid;
    opacity: 0.9;
    position: relative;
    margin: auto;
    align-items: end;
    
}

header {
    font-family: 'Amatic SC', cursive;
    font-family: 'Stardos Stencil', cursive;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 300%;
    text-decoration: underline dotted;
}

div.home {
    width: 100%;
    text-align: left;
    margin-left: 20px;
    justify-content: center;
    color: black;
    text-decoration: none;
}

div.pic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "home sustainability contact";
    width: 275px;
    justify-self: end;
    margin-left: auto;
    margin-right: 0px;
}

.navLink {
    opacity: 0.8;
    height: 50px;
    /* width: 80px; */
    display: flex;

}

 a#navLinkH {
    grid-area: home;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    text-align: left;
}

a#navName {
    grid-area: skills;
    position: relative;
    border-radius: 10px;
    display: flex;
    margin-left: -20px;
    margin-right: auto;
    opacity: 0.8;
    height: 50px;
    width: 80px;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}

div a#navLinkC {
    grid-area: sustainability;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    text-align: left;
}



div a#navLinkS, div a#navLinkE, div a#navLinkL, div a#navLinkCA {
    margin-top: 2em;
    color: black;
    text-decoration: none;
    text-align: left;  
    width: 350px; 
}

div a#navLinkD {
    grid-area: contact;
    border-radius: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    height: 50px;
    width: 60px;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}

.selected {
    background-image: url('img/PASTEL.png');
    z-index: 1000;
}

article {
    width: 90%;
    justify-content:space-evenly;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

div.main {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas:
        "left right";
    gap: 0px;
    width: 90%;
    height: 600px;  
    margin: auto;
}

div.mainLeft {
    position: relative;
    grid-area: left;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    width: 98%;
    text-align: center;
}

div.mainRight {
    position: relative;
    grid-area: right;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    width: 98%;
    background-image: url('img/runningMe.jpg');
    background-repeat: no-repeat;
    padding: 10px white;
}

div.upperPicRight {
    position: absolute;
    width: 220px;
    height: 300px;
    background-color: aqua;
    margin-left: 401px;
    margin-top: -300px;
    background-image: url('img/checking.jpg');
    background-position: center;

}
div.lowerPicRight {
    position: absolute;
    width: 220px;
    height: 300px;
    background-color: green;
    margin-left: 401px;
    margin-top: 300px;
    background-image: url('img/myBack.jpg');
}

h1#mainRightChild {
    position: absolute;
    margin-top: -400px;
    right: 94%;
    font-size: 350%;
    font-family: 'WorkSans-Light';
    width: 300px;
    text-transform: uppercase;
}

p#textMe {
    position: absolute;
    font-size: 12px;
    height: 200px;
    line-height: 1.5em;
    text-align: left;
    top: 150px;
    margin-left: 170px; 
}

p#textMeTwo {
    position: absolute;
    font-size: 12px;
    height: 150px;
    line-height: 1.5em;
    text-align: left;
    top: 480px;
    left: 170px;
}



.emailBlack {
    background-image: url('img/emailBlack.png');
}
.emailWhite {
    background-image: url('img/emailWhite.png');
}


.linkedInBlack {
    background-image: url('img/linkedInBlack.png');
}

.linkedInWhite {
    background-image: url('img/linkedInWhite.png');
}

.githubBlack {
    background-image: url('img/githubBlack.png');
}

.githubWhite {
    background-image: url('img/githubWhite.png');
}

div.navbarVertical {
    position: fixed;
    margin-left: auto;
    top: 20px;
    height: 100%;
    width:80px;
    font-weight: bold;
    font-size: 12px;
    z-index: 1000;
}

p#viktor {
    text-transform: uppercase;
    font-family: 'WorkSans-Regular';
    width: 80px;
    font-size: small;
}
p#designer {
    width: 80px;
    margin-top: 160%;
}
p#road {
    width: 80px;
    margin-top: 160%;
}

div.verticalIcons {
    display: grid;
    grid-column-gap: 5px;
    height: 20%;
    width: 100%;
    margin-top: 160%;
}

div a.icon {
    width: 100%;
    height: 40px;
    z-index: 1000;
}

div a#linkedIn {
    background-image: url('img/linkedInBlack.png');
    z-index: 1000;
    background-repeat: no-repeat;
    transition:all 0.5s ease-out;

}

div a#linkedIn:hover,
div a#linkedIn:focus {
    background-image: url('img/linkedInWhite.png');
    z-index: 1000;
    background-repeat: no-repeat;
}

div a#github {
    background-image: url('img/githubBlack.png');
    z-index: 1000;
    background-repeat: no-repeat;
}
div a#github:hover,
div a#github:focus {
    background-image: url('img/githubWhite.png');
    z-index: 1000;
    background-repeat: no-repeat;
}

div a#contactMe {
    background-image: url('img/emailBlack.png');
    z-index: 1000;
    background-repeat: no-repeat;
}
div a#contactMe:hover,
div a#contactMe:focus {
    background-image: url('img/emailWhite.png');
    z-index: 1000;
    background-repeat: no-repeat;
}

div.titles {
    font-family: 'WorkSans-Light';
    text-align: left;
    width: 80%;
    margin-left: 20%;
    margin-top: 10%;
    font-size: 46px;
    letter-spacing: 0.25em;
    line-height: 2em;
}
#titleAlone {
    margin-left: 30px;
    font-family: 'workSans-Regular';
    letter-spacing: 0.5em;
    font-size: 42px;
}

span.highlight {
    transition: all 0.5s ease-out;
}

span.highlight:hover,
span.highlight:focus {
    background-color: yellow;
}

div#background {
    position: relative;
    background-image: url('img/pijl.png');
    height: 100px;
    width: 100px;
    top: 200px;
    left: 0px;
}

div#overlay {
    position: absolute;
}

div.spacer {
    width: 100%;
    height: 100px;
}

div.skillsRight {
    position: relative;
    background-color: black;
    overflow: hidden;
    color: white;
    z-index: 0;
    font-family: 'WorkSans-Light';
    line-height: 1.2em;
}

.fade-in {
    animation: fadeIn 5s;
}

div.skillsLeft {
    position: relative;
    grid-area: left;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    width: 60%;
    text-align: center;
    overflow: hidden;
}

div.mainSkills {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas:
        "left right";
    gap: 0px;
    width: 80%;
    height: 500px;  
    margin: auto;
}

span.skillItem, span.skillItemTwo {
    height: 30px;
    justify-content: left;
    line-height: 30px;

}

.slideRight {
    animation-duration: 3s;
    animation-name: slideinFromRight;
}

.slideLeft {
    animation-duration: 3s;
    animation-name: slideinFromLeft;
}
          
.newDiv {
    position: absolute;
    height: 300px;
    width: 180px;
    margin-top: 180px;
    margin-left: 350px;
    background-color: black;
    transition: 2s ease-in-out;
    color: white;
    font-size: 14px;
}

.newDivLeft {
    position: absolute;
    height: 300px;
    width: 200px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: black;
    transition: 2s ease-in-out;
    color: white;
    font-size: 14px;
}

.newDivRight {
    position: absolute;
    height: 100px;
    width: 400px;
    margin-top: 200px;
    margin-left: 80px;
    color: pink;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 1.5em;
}

.newDivCenter {
    position: absolute;
    height: 100px;
    width: 400px;
    margin-top: 200px;
    margin-left: 80px;
    background-color: black;
    transition: 2s ease-in-out;
    color: white;
    font-size: 18px;
    text-align: center;
}

.static {
    background: 
      repeating-radial-gradient(#000 0 0.0001%,#fff 0 0.0002%) 50% 0/2500px 2500px,
      repeating-conic-gradient(#000 0 0.0001%,#fff 0 0.0002%) 60% 60%/2500px 2500px;
    background-blend-mode: difference;
    animation: b .2s infinite alternate;
}

  
  /* timeline  */
  /* --------------------------------------------------- */
/* Variables */
:root {
    --color-1: black;
    --color-2: white;
    --color-3: yellow;
  }
  
  
  /* Layout */
  * {
    box-sizing: border-box;
  }
  
  .timelineBox {
    max-width: 86%;
    height: 600px;
    overflow: scroll;
    font-size: 12px;
  }
  /* Styling */
  .timeline {
    margin: 4em 260px;
    position: relative;
    max-width: 46em;
  }
  
p.timeline_p {
    width: 700px;
}

  .timeline::before {
    background-color: var(--color-1);
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
    color: white;
  }
  
  .timeline-event {
    position: relative;
  }
  
  .timeline-event:hover .timeline-event-icon {
    transform: rotate(-45deg);
    background-color: var(--color-3);
  }
  
  .timeline-event:hover .timeline-event-thumbnail {
    box-shadow: inset 40em 0 0 0 var(--color-3);
  }
  
  .timeline-event-copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 4em;
    width: 80%;
  }
  
  .timeline-event-copy h3 {
    font-size: 1.75em;
  }
  
  .timeline-event-copy h4 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
  }
  
  .timeline-event-copy strong {
    font-weight: 700;
  }
  
  .timeline-event-copy p:not(.timeline-event-thumbnail) {
    padding-bottom: 1.2em;
  }
  
  .timeline-event-icon {
    transition: transform 0.2s ease-in;
    transform: rotate(45deg);
    background-color: var(--color-2);
    outline: 10px solid var(--color-1);
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
  }
  
  .timeline-event-thumbnail {
    transition: box-shadow 0.5s ease-in 0.1s;
    color: var(--color-1);
    font-size: 0.75em;
    background-color: var(--color-2);
    box-shadow: inset 0 0 0 0em yellow;
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
  }

footer {
    position: relative;
    width: 1536px;
    background-image: url('img/LANDSCAPE4.jpg');
    height: 400px;
    text-align: center; /* Horizontally center its children */
    margin-left: -115px;
}

p.disclaimer {
    position: absolute; /* Use relative positioning */
    left: 50%; /* Move the element down by half of its own height */
    transform: translateX(-50%); /* Adjust to vertically center the element */
    color: white;
    margin: 0; /* Remove default margins */
    top: 95%;
    height: 20px;
}



div.containerGrid {
    height: 70%;
    width: 100%;
}
span.spanLineOne {
    margin-left: 25px;
    margin-right: 25px;
    /* font-style: italic; */
}
div.smallSpacer {
    height: 20px;
}

.footerLineOneForm {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Additional styling if needed */
  }
  
  .withinLineOneForm {
    display: flex;
    align-items: center;
  }

  .spanLineOneForm {
    margin-left: 5px;
    margin-right: 5px;
  }

  #submit {
    margin-left: 5px;
    border: solid 2px black;
    width: 80px;
    height: 35px;
    border-radius: 1em;
  }

  #submit:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
  }

  input {
    width: 250px;
    height: 50px;
    background-color: white;
    opacity: 0.5;
    color: black;
    border-radius: 1em;
  }












