@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Stardos+Stencil&display=swap');
@font-face {
    font-family: 'WorkSans-Light';
    src: url('/Style/fonts/WorkSans-Light.ttf');
}
@font-face {
    font-family: 'WorkSans-Regular';
    src: url('/Style/fonts/WorkSans-Regular.ttf');
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}
@media (prefers-reduced-motion: no-preference) {
    .square {
      animation-name: wipe-enter;
      animation-duration: 0.5s;
    }
}
@keyframes b{
    100% {background-position: 50% 0, 60% 50%}
}
@keyframes slideinFromRight {
    from {
      margin-left: 300px;
      width: 100%;
    }   
  
    to {
      margin-left: 0px;
      width: 100%;
    }
}


@keyframes slideinFromLeft {
    from {
      margin-left: -300px;
      width: 100%;
    }
  
    to {
      margin-left: 0px;
      width: 100%;
    }
}



@media screen and (max-width: 1099px) {
    div.navbarVertical {
        display: none;
    }
    div.bodyPseudo {
        max-width: 400px;
        margin: auto;
    }


    /* navbar dropdown */
/* css for the phone navbar */
/* __________________ */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav.navbar {
    display: none;
}

nav.navbarPhone {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img#rotateImg {
    opacity: 0.85;
}

.Rotate {
    transform: rotate(360deg);
    transition-property: transform;
    transition-duration: 1.5s;
}

.navbarPhone a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

p#navbarPhoneP {
    padding: 0;
    margin: 0;
    font-family: 'workSans-Regular';
    font-size: 1.25em;
    text-transform: capitalize;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    }


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: hsl(210, 100%, 75%);
}

.show {
    display: block !important;
}


div.gridContainer {
    position: relative;
    justify-content: center;   
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: 900px;  
    margin: auto;
}

div.gridChildOne {
    position: relative;
    /* justify-self: center; */
    font-family: 'workSans-Light';
    grid-column-start: 1;
      grid-column-end: 5;
      grid-row: 1;
}


div.gridChildTwo {
    background-image: url('img/dobbyFuente.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 2;
}
div.gridChildTwoColor {
    background-image: url('img/dobbyFuenteColor.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 2;
}
div.gridChildThree {
background-image: url('img/interior.jpg');
background-position: right;
background-size: cover;
height: 250px;

background-repeat: no-repeat;
grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 4;
}
div.gridChildThreeColor {
    background-image: url('img/interiorColor.jpg');
    background-position: right;
    background-size: cover;
    height: 250px;
    
    background-repeat: no-repeat;
    grid-column-start: 1;
      grid-column-end: 5;
      grid-row: 4;
    }

div.gridChildFour {
    position: relative;
    font-family: 'workSans-Light';
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 3;

}

.childContainer {
    margin-top: 5%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 95%;
    height: 80%;
    gap: 10px;
}

.childContainerRow {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-column-gap: 10px;
    margin: 10px 0;
    width: 100%;
}

.childContainerCell {
    padding: 10px;
    /* border: 1px solid black; */
}

div.gridChildOne h1, div.gridChildFour h1 {
position: relative;
top: 10px;
margin: auto;
left: 4%;
font-size: 30px;
}




}















@media screen and (min-width: 1100px) {

    html {
        scroll-behavior: smooth;
        background-color: #f2F2F2;
    }

    div.intro {
        display: none;
    }
    body {
        width: 100%;
        margin: auto;
        font-family: 'WorkSans-Light';
    }

    div.bodyPseudo {
        width: 85%;
        margin: auto;
    }

    /* navbar.css */
    .navbar {
        height: 60px;
        display: grid;
        opacity: 0.9;
        position: relative;
        margin: auto;
        align-items: end;
        width: 80%;
        
    }
    /* nav.navbar {
        display: block;
    } */


    nav.navbarPhone {
        display: none;
    }
    header {
        font-family: 'Amatic SC', cursive;
        font-family: 'Stardos Stencil', cursive;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 300%;
        text-decoration: underline dotted;
    }

    div.home {
        width: 100%;
        text-align: left;
        margin-left: 20px;
        justify-content: center;
        color: black;
        text-decoration: none;
    }

    div.pic {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "home sustainability contact";
        width: 25%;
        justify-self: end;
        margin-left: auto;
        margin-right: 0px;
    }

    .navLink {
        opacity: 0.8;
        height: 50px;
        /* width: 80px; */
        display: flex;

    }

    a#navLinkH {
        grid-area: home;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.8;
        height: 50px;
        width: 100px;
        justify-content: center;
        align-items: center;
        color: black;
        text-decoration: none;
        text-align: left;
    }

    a#navName {
        grid-area: skills;
        position: relative;
        border-radius: 10px;
        display: flex;
        margin-left: -20px;
        margin-right: auto;
        opacity: 0.8;
        height: 50px;
        width: 80px;
        justify-content: center;
        align-items: center;
        color: black;
        text-decoration: none;
    }

    div a#navLinkC {
        grid-area: sustainability;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.8;
        height: 50px;
        width: 100px;
        justify-content: center;
        align-items: center;
        color: black;
        text-decoration: none;
        text-align: left;
    }



    div a#navLinkS, div a#navLinkE, div a#navLinkL, div a#navLinkCA {
        margin-top: 2em;
        color: black;
        text-decoration: none;
        text-align: left;  
        width: 350px; 
    }

    

    div a#navLinkD {
        grid-area: contact;
        border-radius: 10px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.8;
        height: 50px;
        width: 60px;
        justify-content: center;
        align-items: center;
        color: black;
        text-decoration: none;
    }

    .selected {
        background-image: url('img/PASTEL.png');
        z-index: 1000;
    }


    .emailBlack {
        background-image: url('img/emailBlack.png');
    }
    .emailWhite {
        background-image: url('img/emailWhite.png');
    }


    .linkedInBlack {
        background-image: url('img/linkedInBlack.png');
    }

    .linkedInWhite {
        background-image: url('img/linkedInWhite.png');
    }

    .githubBlack {
        background-image: url('img/githubBlack.png');
    }

    .githubWhite {
        background-image: url('img/githubWhite.png');
    }

    div.navbarVertical {
        position: fixed;
        margin-left: 0%;
        top: 20px;
        height: 100%;
        width:80px;
        font-weight: bold;
        font-size: 12px;
        z-index: 1000;
    }

    p#viktor {
        text-transform: uppercase;
        font-family: 'WorkSans-Regular';
        width: 80px;
        font-size: small;
    }
    p#designer {
        width: 80px;
        margin-top: 160%;
    }
    span#designer {
        padding: 24px 0px;
        font-size: 120%;
        font-family: 'WorkSans-Regular';
        text-transform: uppercase;  
        color: hsl(0, 0%, 10%);
    }
    p#road {
        width: 80px;
        margin-top: 160%;
    }

    div.verticalIcons {
        display: grid;
        grid-column-gap: 5px;
        height: 20%;
        width: 100%;
        margin-top: 160%;
    }

    div a.icon {
        width: 100%;
        height: 40px;
        z-index: 1000;
    }

    div a#linkedIn {
        background-image: url('img/linkedInBlack.png');
        z-index: 1000;
        background-repeat: no-repeat;
        transition:all 0.5s ease-out;

    }

    div a#linkedIn:hover,
    div a#linkedIn:focus {
        background-image: url('img/linkedInWhite.png');
        z-index: 1000;
        background-repeat: no-repeat;
    }

    div a#github {
        background-image: url('img/githubBlack.png');
        z-index: 1000;
        background-repeat: no-repeat;
    }
    div a#github:hover,
    div a#github:focus {
        background-image: url('img/githubWhite.png');
        z-index: 1000;
        background-repeat: no-repeat;
    }

    div a#contactMe {
        background-image: url('img/emailBlack.png');
        z-index: 1000;
        background-repeat: no-repeat;
    }
    div a#contactMe:hover,
    div a#contactMe:focus {
        background-image: url('img/emailWhite.png');
        z-index: 1000;
        background-repeat: no-repeat;
    }


    .Rotate {
        transform: rotate(360deg);
        transition-property: transform;
        transition-duration: 1.5s;
    }





    div.gridContainer {
            position: relative;
            justify-content: center;   
            display: grid;
            grid-template-rows: repeat(2, 0.8fr);
            grid-template-columns: 1fr 1fr 1fr 1fr  ;
            gap: 10px;
            width: 85%;
            height: 900px;  
            margin: auto;
            @media screen and (max-width: 60em) {
              grid-template-rows: repeat(4, 1fr);
         }
    }

    .childContainer {
        margin-top: 5%;
        margin-left: 4%;
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 95%;
        height: 80%;
        gap: 30px;
    }

    .childContainerRow {
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-column-gap: 10px;
        margin: 10px 0;
        width: 100%;
        height: 70px;
    }

    .childContainerCell {
        padding: 10px;
        /* border: 1px solid black; */
    }

    div.gridChildOne {
        position: relative;
        justify-self: end;
        align-items: end;
        font-family: 'workSans-Light';
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;
        width: 100%;

}

div.gridChildOne h1, div.gridChildFour h1 {
    position: relative;
    top: 0px;
    margin: auto;
    left: 4%;
    font-size: 46px;
}


    div.gridChildTwo {
            background-image: url('img/dobbyFuente.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row: 1;
    }
    div.gridChildTwoColor {
        background-image: url('img/dobbyFuenteColor.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row: 1;
}

    div.gridChildThree {
            background-image: url('img/interior.jpg');
            background-position: right;
            background-repeat: no-repeat;
            
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row: 2;
    }
    div.gridChildThreeColor {
        background-image: url('img/interiorColor.jpg');
        background-position: right;
        background-repeat: no-repeat;
        
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;
}
.highLight {
    background-color: yellow;  
    opacity: 0.8;
    transition: all 1s ease-out;
   
}

    div.gridChildFour {
        position: relative;
        font-family: 'workSans-Light';
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row: 2;
        @media screen and (max-width: 60em) {
          grid-column-start: 1;
          grid-column-end: 5;
          grid-row: 4;
        }
    }
/* footer */



footer {
    margin-top: 10%;
    position: relative;
    width: 100%;
    background-image: url('img/LANDSCAPE4.jpg');
    height: 400px;
    text-align: center; /* Horizontally center its children */
    /* margin-left: -115px; */
}

p.disclaimer {
    position: absolute; /* Use relative positioning */
    left: 50%; /* Move the element down by half of its own height */
    transform: translateX(-50%); /* Adjust to vertically center the element */
    color: white;
    margin: 0; /* Remove default margins */
    top: 95%;
    height: 20px;
}

div.titleFooter {
    display: flex;
    justify-content: center;
    font-family: 'WorkSans-Light';
    text-align: left;
    font-size: 46px;
    letter-spacing: 0.25em;
    line-height: 2em;
    color: hsl(0, 0%, 10%);
}

div.containerGrid {
    height: 70%;
    width: 100%;
}
span.spanLineOne {
    margin-left: 25px;
    margin-right: 25px;
    /* font-style: italic; */
}
div.smallSpacer {
    height: 20px;
}



}
